/* button{
    width:100px;
    height:200px;
    background-color: blue;
}
.info_wrap{
    width:1200px;
    margin:auto;
    height:700px;
    background-color: lightcoral;
}
#open_info{
    display:none;
}
.x_button{
    width:50px;
    height:50px;
    background-color: aqua;

} */
body {
	font-family: 'Noto Sans KR', sans-serif;
}
#info_wrap{
    width: 1200px;
    margin: auto;
    position:relative;
    display:none;
}
.info_close{
    position: absolute;
    cursor: pointer;
    width: 28px;
    height: 29px;
    top: 24px;
    right: 0;
    background: url(../img/icn_cross.png) no-repeat center;
}
.open_title{
    width:1200px;
display:flex;
line-height: 40px;
padding: 89px 0 54px;
font-size: 22px;
font-weight: 400;
margin:auto;

}
.open_title>p{
display:inline-block;
margin:auto;
}
.open_title>p{
line-height:40px;
}
.open_title>img{
width:278px;
height:29px;
}

.open_contents{
    width:1200px;
    margin:auto;
    background-color: #fff;
    display:flex;
}
.open_content{
    width: 16.666666%;
    padding: 0 2px;
    box-sizing: border-box;

}
.open_content>a{
    text-decoration: none;

}
.open_img{
    display:flex;
}
.open_img>img{
    width:159px;
    height:159px;
    z-index: 2;
    margin:auto;
}
.open_contents span{
    display:block;
}
.open_call{
    padding: 11px 0 19px;
    color: #235d13;
}
.open_call>img{
    margin-right:12px;
}
.open_txt{
    padding: 84px 0 0;
    background-color: #f2f2f2;
    position:relative;
    top:-50px;
    z-index: 1;
    color: #000;
    text-align: center;
    line-height: 1.4;
    text-decoration: none;

}

#main_nav .depth2.culture > div span {
    display: block;
    color: #000;
    box-sizing: border-box;
    background: #f2f2f2;
}


.open_name{
    padding: 16px 0;
    border: 1px solid #ececec;
    margin-top: 3px;
    background: transparent;
    color: #434343;
    position:relative;
    top:-50px;
    text-align: center;

}
